/*
--------------------------------------------------------------------------
Header
--------------------------------------------------------------------------
*/


/*
--------------------------------------------------------------------------
Main
--------------------------------------------------------------------------
*/

/*
--------------------------------------------------------------------------
Footer
--------------------------------------------------------------------------
*/
.footer {
  .footer__copyright {
    text-align: left;
  }
}

/*
--------------------------------------------------------------------------
Docs
--------------------------------------------------------------------------
*/
.plugin-docs {
  main {
    iframe {
      padding-bottom: var(--ifm-leading);
      max-width: 600px;
    }
    img {
      max-width: 600px;
    }
  }
}
