
/*
--------------------------------------------------------------------------
Plugin Pages
--------------------------------------------------------------------------
*/
.plugin-pages main {
  .lead { font-size: 1.2rem; }
  .lead-lg { font-size: 2rem; }
  a { font-weight: 700; }
}

/*
--------------------------------------------------------------------------
Plugin Docs
--------------------------------------------------------------------------
*/
.plugin-docs main {

}
