@import '@site/src/styles/colors.scss';

.linkCard {

  a {
    border-radius: 20px;
    border: 2px solid $color-primary;
    padding: 2rem .5rem;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    font-size: 1.375rem;
    font-weight: 700;
    transition: .3s ease-in-out all;

    &:hover, &:focus-visible {
      background-color: darken($color-primary, 30);
      color: $color-white;
      text-decoration: none;
    }

  }

  svg {
    width: 55%;
    max-height: 125px;
  }
}
